.post h1 {
  text-transform: capitalize;
  margin: 2rem 0;
}

.post .metadata {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
}

.post .metadata h2 {
  text-decoration: none;
  margin: 0;
}

.post h2 {
  margin: 3rem 0 1rem;
  text-decoration: underline;
  text-transform: capitalize;
}

.post h3,
h4 {
  margin: 3rem 0 1rem;
  text-transform: capitalize;
}

.post .social-links {
  background-color: #bcbcbc;
  margin-top: 5rem;
}

.post .social-links .social-icons {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

.post .social-links .social-icons li {
  margin: 0.75rem 0;
}
