<!-- prettier-ignore -->
{% assign count = 0 %}
{% for post in site.posts reversed %}
  {% if post.series == page.series %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if count > 0 %}
  <div class="series-list">
    <p>
      Part of the "{{ page.series | titleize }}" series
    </p>
    <ul>
      {% for post in site.posts reversed %} 
        {% if post.series == page.series %} 
        <li>
          {% if page.url == post.url %} 
            <a class="post-link active" href="{{page.url}}"></a>
          {% else %}
            <a class="post-link" href="{{post.url}}"></a>
          {% endif %}
        </li>
        {% endif %} 
      {% endfor %}
    </ul>
  </div>
{% endif %}
