<ul class="social-links">
  <li>
    <div class="icon-container">
      <a href="https://twitter.com/RyanWillDev" rel="noopener" target="_blank">
        {% include twitter_icon.html %}
      </a>
    </div>
  </li>
  <li>
    <div class="icon-container">
      <a href="https://github.com/RyanWillDev" rel="noopener" target="_blank">
        {% include github_icon.html %}
      </a>
    </div>
  </li>
  <li>
    <div class="icon-container">
      <a
        href="https://linkedin.com/in/RyanWillDev"
        rel="noopener"
        target="_blank"
      >
        {% include linkedin_icon.html %}
      </a>
    </div>
  </li>
</ul>
