header {
  background-color: $black;
  margin-bottom: 1.45rem;
  color: $silver;
  display: flex;
  max-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 16px;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;

    @include breakpoint($small) {
      flex-wrap: nowrap;
    }

    &__logo {
      margin-right: 16px;
      a {
        display: block;
        height: 60px;
        width: 100px;
      }
    }
  }

  .nav-links {
    align-items: center;
    background-color: $black;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    width: 100%;

    @include breakpoint($small) {
      padding-bottom: 0;
    }

    svg {
      fill: $silver;
    }

    a {
      color: $silver;
      font-size: 1.5rem;
      padding: 5px;

      &.active {
        border-bottom: 2px solid $blue;
        padding-bottom: 3px;
      }
    }

    .nav-links__pages {
      display: flex;
      margin-bottom: 16px;
      width: 100%;
      li {
        margin-right: 16px;
      }

      @include breakpoint($small) {
        margin: 0 16px 0;
        width: initial;
      }
    }

    .social-links {
      display: flex;
      width: 150px;
      .icon-container {
        height: 30px;
        width: 30px;
      }

      @include breakpoint($small) {
        width: 150px;
      }
    }
  }
}
