<!DOCTYPE html>
<html lang="en">
  <head>
    {% include metahead.html %}
    <link rel="stylesheet" href="/assets/css/syntax.css" />
  </head>
  <body>
    {% include header.html %}

    <section class="post">
      <section class="content">
        {% include page_heading.html heading=page.title titleize=true %}
        <div class="metadata">
          <div class="top">
            <h2 class="date">{{ page.date | date: "%B %d, %Y" }}</h2>
            <a href="/">See all posts</a>
          </div>
          {% if page.series %} 
            {% if page.series_subtitle %}
              <h2 class="series-subtitle">{{ page.series_subtitle }}</h2>
            {% endif %}
            {% include series_list.html %} 
          {% endif %}
        </div>
        <section class="post-body">
          {{content}}
        </section>
        <nav class="post-footer">
          {% include social_links.html %}
        </nav>
      </section>
    </section>

    <script src="/assets/js/nav.js"></script>
  </body>
</html>
