.about-container {
  margin: 0 auto;
  text-align: left;
  width: 70%;

  @media screen and (max-width:640px) {
    width: 90%;
  }
}

.about-desc-container {
  margin: 0 auto;
  padding-top: 16%;
    @media screen and (max-width:640px) {
    padding-top: 24%;
    width: 100%;
  }
}

.about-description {
  text-indent: 1.25em;
  font-size: 1.25em;
  word-spacing: 0.115em;

  padding: 0 56px 0;

  @media screen and (max-width:640px) {
    font-size: 1.35em;
    padding: 0;
    word-spacing: 0;
    width: 100%;
  }
}

.emphasis {
  font-weight: bold;
  font-size: 1.55em;
}
